@model List<CarWash.Models.CheckCar>

<div class="CurrentCarContainer col-lg-offset-1">   
    @if (Model.Count() > 0)
    {
        <h1>Информация об автомобилях</h1>
        foreach (var item in Model)
        {
            <div class="informContainer">
                <h3 >
                    @Html.Action("ConnectCarAndCarClient", new { CarClientGuid = item.currentCar.CarCarId})
                    <br />
                    Номер автомобиля: @item.currentCar.CarNumber
                </h3>  
                @{
                    //var outPutString = Html.Action("CheckCar", new { _carGuid = item.CarCarId });
                    if (!item.hasRecords)
                    {
                        @Html.ActionLink("Удалить автомобиль", "DeleteCar",
                            new { _carNumber = item.currentCar.CarNumber }, new { @class = "carItem" })
                    }
                }        
                                                       
            </div>
        }
    }     
</div>

